.section{
    min-height: 150px;
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 9px 9px 14px 12px rgb(204, 132, 132);
}
.sectionsTitle{
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
}